.recipe-info {
  border: 2px solid black;
  margin-top: 20px;
  .recipe-info-wrapper {
    padding: 5px;
    position: relative;
  }
  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
  button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
